.text-capitalize {
  text-transform: capitalize;
}

.text-color-brand {
  color: var(--beauty-landing-22);
}

.text-bold {
  font-weight: 600;
}

.text-decoration-underlune {
  text-decoration: underline;
}
