:root {
  --bakery-landing-1-с-4: #a18268;
  --bakery-landing-1-background: #faf4ea;
  --beauty-landing-2-с-2: #a18268;
  --beauty-landing-2-с-5: #747272;
  --beauty-landing-2-background: #ffffff;
  --beauty-landing-2-c-1: #011c44;
  --beauty-landing-2-с-3: #4a4a4a;
  --beauty-landing-2-с-6: #011f4a;
  --beauty-landing-22: #2b7fff;
  --beauty-landing-25: #747272;
  --white: #ffffff;
  --black: #000000;
  // --color-defoult-white: #ffffff;
  // --color-defoult-black: #000000;
  // --color-brand-light: #2b7fff;
  // --color-brand-durk: #011c44;
  // --color-first-grey: #4a4a4a;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
