.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  width: 100%;
  max-width: 720px;
  height: 100%;
  max-height: 600px;
  background-color: var(--beauty-landing-2-c-1);
  border-radius: 48px;
  padding: 30px 20px;
  z-index: 2;

  @media screen and (min-width: $bp-tablet) {
    padding: 30px 80px;
  }

  @media screen and (min-width: $bp-desktop) {
    max-height: 720px;
    padding: 42px 144px;
  }
  overflow-y: auto;

  &__title {
    text-align: center;
    font-family: 'Play', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: var(--beauty-landing-2-background);
    margin-bottom: 20px;

    @media screen and (min-width: $bp-desktop) {
      font-size: 64px;
      margin-bottom: 40px;
    }
  }

  &-btn-close {
    position: absolute;
    background-image: url(./../images/icon-close.svg);
    background-color: transparent;
    width: 32px;
    height: 32px;
    border: none;
    top: 10px;
    right: 15px;
    cursor: pointer;

    @media screen and (min-width: $bp-tablet) {
      top: 42px;
      right: 42px;
    }
  }
}
