.procedures {
  margin-bottom: 40px;

  @media screen and (min-width: $bp-tablet) {
    margin-bottom: 96px;
  }

  &__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  &__container {
    overflow: hidden;
  }

  &__list {
    margin-bottom: 32px;
  }

  &__button {
    display: none;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 44px;
    height: 44px;
    padding: 0;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--beauty-landing-2-c-1);
    fill: var(--beauty-landing-2-c-1);

    @media screen and (min-width: $bp-tablet) {
      display: flex;
    }

    &:hover {
      background-color: var(--beauty-landing-22);
      border: 1px solid var(--beauty-landing-2-background);
      fill: var(--beauty-landing-2-background);
    }
  }

  &__button.next {
    transform: rotate(180deg);
  }

  &__icon-btn {
    width: 18px;
  }
}
